.friend-list {

}

.name {
    color: blue;
}

.item {
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
position: relative;
width: 300px;
padding-left: 40px;
gap: 20px;
border: 1px solid #000;
align-items: center;
background-color: #fff;
margin-top: 25px;
}

.avatar { 

}

.status {
position: absolute;
width: 15px;
height: 15px;
left: 15px;
border-radius: 50%;
background-color: green;
}

.status.on {
    background-color: green;
}

.status.off {
    background-color: red;
}

.on, .off {
    border: 1px solid pink;
}
