
.statistics {
    
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 350px;
    margin-bottom: 40px;
}

.title {
     text-align: center;
    
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    align-self: center;
}

.stat-list {
   padding: 0;
   margin: 0;
    display: flex;
    justify-content: space-between;
}

.item {
    display: flex;
  justify-content: space-between;
 
  display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 10;
    
    flex-direction: column;
    width: 100%;
    background-color: silver;
    flex-basis: calc(100% / 4);
    
}

.label {
    font-weight: bold;
    white-space: nowrap;
    padding-bottom: 10px;
    padding-top: 10px;
}

.percentage {
    color: #282828;
    padding-bottom: 10px;
}