table {
    border-collapse: collapse;
    
}

thead tr {
    background-color: #524a4d;
    color: #fff;
}

table th {
    background-color: blue;
    color: #fff;
    padding: 8px;
  text-align: left;
}

table td {
    padding: 8px;
}

table tr {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

table tr:nth-child(even) {
    background-color: #ddd;
    border-bottom: 1px solid #ccc;
}

